In [1]:
import os
import pandas as pd

In [20]:
def get_combined_dataframe(file_name, keys):
    date = (('2022', '09'), ('2022', '10'), ('2022', '11'), ('2022', '12'), ('2023', '01'), ('2023', '02'))
    df = None

    for year, month in date:
        path = f'../../data/서울교통수단이동/{year}{month}/'

        for dir_ in os.listdir(path):
            file_path = f'{path}{dir_}/{file_name}'
            df2 = pd.read_csv(file_path, on_bad_lines='skip')

            if df is None:
                df = df2
            else:
                df = pd.concat([df, df2], axis=0)

            df.drop_duplicates(subset=keys, keep='last', ignore_index=True, inplace=True)

    return df

# 1) TBIS_MS_ROUTE 통합

In [3]:
route = pd.read_csv('../../data/서울교통수단이동/202209/TR202100010001_00/TBIS_MS_ROUTE.csv')
route

       ROUTE_ID     ROUTE_NM ROUTE_TY  DSTNC
0     200000289     3002예약수원       경기    0.0
1     200000290     3007예약수원       경기    0.0
2     200000295    M5443예약수원       경기    0.0
3     200000296     5100예약수원       경기    0.0
4     200000297     8800예약수원       경기    0.0
...         ...          ...      ...    ...
1224  241461015        김포16A       경기    0.0
1225  222000209     M2352남양주       경기    0.0
1226  233000355  P9110(출근)화성       경기    0.0
1227  233000356  P9110(퇴근)화성       경기    0.0
1228  234001709  P9243(출근)광주       경기    0.0

[1229 rows x 4 columns]

In [29]:
route_master = get_combined_dataframe('TBIS_MS_ROUTE.csv', keys='ROUTE_ID')
route_master

       ROUTE_ID  ROUTE_NM ROUTE_TY  DSTNC
0     219000008      55고양       경기    0.0
1     100900004      종로07       마을    4.2
2     123000002      6600       공항    0.0
3     110900001      노원04       마을    9.0
4     241003070    7500고양       경기    0.0
...         ...       ...      ...    ...
1247  165000215   M6405인천       인천    0.0
1248  228000262    5006용인       경기    0.0
1249  229000013      17파주       경기    0.0
1250  234000324  1550-1광주       경기    0.0
1251  213000009      39광명       경기    0.0

[1252 rows x 4 columns]

In [10]:
route_master.to_csv('bus_route_master.csv', index=False)

# 2) TBIS_MS_STTN 통합

In [5]:
station_sample = pd.read_csv('../../data/서울교통수단이동/202209/TR202100010001_00/TBIS_MS_STTN.csv', on_bad_lines='warn')
display(station_sample.head())
display(station_sample.shape)

b'Skipping line 14424: expected 7 fields, saw 8\nSkipping line 31842: expected 7 fields, saw 8\n'

     STTN_ID   STTN_NM STTN_TY  STTN_NO     CRDNT_X    CRDNT_Y BIT_INSTL_AT
0  164000621    달빛축제공원    일반차로  38621.0  126.630347  37.400547          미설치
1  164000623   e편한세상후문    일반차로  32063.0  126.618124  37.408392          미설치
2  164000624  재능대송도캠퍼스    일반차로  38622.0  126.660781  37.367194          미설치
3  164000625  재능대송도캠퍼스    일반차로  38623.0  126.660566  37.367038          미설치
4  164000626  e편한세상 정문    일반차로  38624.0  126.616301  37.410865          미설치

(70039, 7)

In [6]:
station_master = get_combined_dataframe('TBIS_MS_STTN.csv', keys='STTN_ID')
station_master

,STTN_ID,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
0,104000305,광진구보훈회관,일반차로,5298.0,127.107723,37.547735,미설치
1,123000598,한강공원잠실대교남단,일반차로,24509.0,127.094707,37.520004,미설치
2,123000308,제일은행건너편,일반차로,24399.0,127.118580,37.496389,미설치
3,121900285,농협하나로마트,마을버스,22341.0,127.044354,37.463921,미설치
4,213900244,철산우성아파트,마을버스,38076.0,126.867410,37.489826,미설치
...,...,...,...,...,...,...,...
70441,234000316,고산1리.허산리,일반차로,38209.0,127.242114,37.381224,미설치
70442,234000315,오포도서관.오포농협,일반차로,38178.0,127.231914,37.369356,미설치
70443,234000314,오포읍사무소,일반차로,38533.0,127.231729,37.366752,미설치
70444,234000313,풍산목재,일반차로,38163.0,127.226235,37.360592,미설치
70445,234000260,파라다이스아파트앞,일반차로,38908.0,127.254916,37.418612,미설치

In [13]:
station_master.to_csv('bus_station_master.csv', index=False)

# 3) TBIS_MS_ROUTE_NODE 통합

In [7]:
route_node = pd.read_csv('../../data/서울교통수단이동/202209/TR202100010001_00/TBIS_MS_ROUTE_NODE.csv')
route_node

        ROUTE_ID    STTN_ID  LINK_DSTNC_ACMTL  STTN_SN
0      212000003  211000277               490        6
1      212000003  211000271               480        7
2      212000003  211000031               550        8
3      212000003  211000030               360        9
4      212000003  211000029               250       10
...          ...        ...               ...      ...
83588  100100039  222001568               560      129
83589  100100039  222001650               405      130
83590  112900015  112900003                 0        1
83591  112900015  112900170               291        2
83592  112900015  112900168                93        3

[83593 rows x 4 columns]

In [23]:
len(route_node['ROUTE_ID'].unique()), len(route_node['STTN_ID'].unique())

(1228, 24096)

In [8]:
node_master = get_combined_dataframe('TBIS_MS_ROUTE_NODE.csv', keys=['ROUTE_ID', 'STTN_ID'])
node_master

        ROUTE_ID    STTN_ID  LINK_DSTNC_ACMTL  STTN_SN
0      100100412  274109991               0.0       64
1      100100412  274109998               0.0        3
2      100100412  274110129               0.0        4
3      100100412  161000376               0.0        5
4      100100509  161000329            6897.0       26
...          ...        ...               ...      ...
85343  100100076  117000080             858.0       83
85344  100100076  117000082             219.0       84
85345  100100068  122000246               0.0        1
85346  100100068  122000249             373.0        2
85347  100100068  122000250             210.0        3

[85348 rows x 4 columns]

In [16]:
node_master.to_csv('bus_station_node_master.csv', index=False)

# 4) 통합 master

In [9]:
bus_master = node_master
bus_master = pd.merge(bus_master, route_master, on='ROUTE_ID')
bus_master = pd.merge(bus_master, station_master, on='STTN_ID')
bus_master = bus_master.loc[:, ['ROUTE_ID', 'ROUTE_NM', 'ROUTE_TY',
                                'STTN_SN', 'STTN_ID', 'STTN_NO', 'STTN_NM', 'STTN_TY',
                                'LINK_DSTNC_ACMTL', 'DSTNC', 'BIT_INSTL_AT',
                                'CRDNT_X', 'CRDNT_Y']]
bus_master

,ROUTE_ID,ROUTE_NM,ROUTE_TY,STTN_SN,STTN_ID,STTN_NO,STTN_NM,STTN_TY,LINK_DSTNC_ACMTL,DSTNC,BIT_INSTL_AT,CRDNT_X,CRDNT_Y
0,100100412,6001,공항,64,274109991,35998.0,공항출국장4.입구장진입6(경유),가상정류장,0.0,146.0,미설치,126.458731,37.448257
1,100100509,6020,공항,28,274109991,35998.0,공항출국장4.입구장진입6(경유),가상정류장,3174.0,143.0,미설치,126.458731,37.448257
2,100100506,6006,공항,33,274109991,35998.0,공항출국장4.입구장진입6(경유),가상정류장,3174.0,178.7,미설치,126.458731,37.448257
3,100100419,6012,공항,29,274109991,35998.0,공항출국장4.입구장진입6(경유),가상정류장,3174.0,141.0,미설치,126.458731,37.448257
4,100100418,6011,공항,30,274109991,35998.0,공항출국장4.입구장진입6(경유),가상정류장,3174.0,160.0,미설치,126.458731,37.448257
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85323,100100078,503,간선,24,116000622,17221.0,우리유엔미아파트,일반차로,370.0,45.0,설치,126.882639,37.497047
85324,100100078,503,간선,25,116000621,17222.0,쌍용구로정비사업소,일반차로,311.0,45.0,설치,126.882579,37.499838
85325,100100155,1140,지선,48,110000242,11343.0,장석교회,일반차로,292.0,15.9,설치,127.050707,37.624066
85326,108900012,강북12,마을,5,108900240,9908.0,삼성래미안아파트,마을버스,299.0,5.7,미설치,127.021055,37.614495
85327,108900012,강북12,마을,6,108900241,9909.0,성우아파트,마을버스,442.0,5.7,미설치,127.021799,37.617410

In [18]:
bus_master.to_csv('bus_master.csv', index=False)

---

# 00) Test

In [16]:
len(station_master['STTN_ID'].unique()), len(bus_master['STTN_ID'].unique())

(70446, 24485)

In [27]:
temp1 = station_master.copy()
temp1

,STTN_ID,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
0,104000305,광진구보훈회관,일반차로,5298.0,127.107723,37.547735,미설치
1,123000598,한강공원잠실대교남단,일반차로,24509.0,127.094707,37.520004,미설치
2,123000308,제일은행건너편,일반차로,24399.0,127.118580,37.496389,미설치
3,121900285,농협하나로마트,마을버스,22341.0,127.044354,37.463921,미설치
4,213900244,철산우성아파트,마을버스,38076.0,126.867410,37.489826,미설치
...,...,...,...,...,...,...,...
70441,234000316,고산1리.허산리,일반차로,38209.0,127.242114,37.381224,미설치
70442,234000315,오포도서관.오포농협,일반차로,38178.0,127.231914,37.369356,미설치
70443,234000314,오포읍사무소,일반차로,38533.0,127.231729,37.366752,미설치
70444,234000313,풍산목재,일반차로,38163.0,127.226235,37.360592,미설치
70445,234000260,파라다이스아파트앞,일반차로,38908.0,127.254916,37.418612,미설치

In [28]:
temp2 = bus_master.copy()
temp2 = temp2.loc[temp2['ROUTE_TY'].isin(['지선', '간선'])]
temp2['value'] = 1
temp2 = temp2.groupby(by=['ROUTE_ID', 'ROUTE_NM', 'ROUTE_TY'], as_index=False)['value'].sum()
temp2

      ROUTE_ID ROUTE_NM ROUTE_TY  value
0    100100006      101       간선     82
1    100100007      102       간선     67
2    100100008      103       간선     70
3    100100009      104       간선     65
4    100100010      105       간선     86
..         ...      ...      ...    ...
369  124000008     7719       지선     28
370  124000010     8331       지선     14
371  124000036      345       간선     86
372  124000038      342       간선    108
373  124000039     3323       지선     46

[374 rows x 4 columns]

In [10]:
bus_master.loc[bus_master['ROUTE_NM'] == '5012'].sort_values(by='STTN_SN')

,ROUTE_ID,ROUTE_NM,ROUTE_TY,STTN_SN,STTN_ID,STTN_NO,STTN_NM,STTN_TY,LINK_DSTNC_ACMTL,DSTNC,BIT_INSTL_AT,CRDNT_X,CRDNT_Y
55343,100100248,5012,지선,1,117000130,18216.0,가산동기점,일반차로,0.0,45.0,미설치,126.875255,37.485227
55346,100100248,5012,지선,2,117000320,18101.0,한일유엔아이아파트,일반차로,79.0,45.0,설치,126.876226,37.485459
55349,100100248,5012,지선,4,117000019,18105.0,디지털3단지운동장,일반차로,343.0,45.0,미설치,126.877893,37.482163
55353,100100248,5012,지선,5,117000023,18109.0,디지털3단지.(주)로옴코리아,일반차로,395.0,45.0,미설치,126.879973,37.479474
55358,100100248,5012,지선,6,117000021,18107.0,가산디지털단지역,일반차로,250.0,45.0,설치,126.881481,37.480804
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55616,100100248,5012,지선,98,117000020,18106.0,가산디지털단지역,일반차로,408.0,45.0,미설치,126.881081,37.481102
55621,100100248,5012,지선,99,117000135,18223.0,디지털3단지.가산비즈니스센터,일반차로,293.0,45.0,설치,126.879899,37.479626
55623,100100248,5012,지선,100,117000136,18224.0,디지털3단지운동장,일반차로,408.0,45.0,미설치,126.878059,37.482357
55625,100100248,5012,지선,101,117000928,17159.0,한일유앤아이아파트,일반차로,432.0,45.0,미설치,126.876035,37.485646
55628,100100248,5012,지선,102,117000131,18217.0,가산동종점,일반차로,354.0,45.0,미설치,126.874971,37.485170

In [102]:
bus_master.loc[bus_master['ROUTE_NM'] == '5012', 'LINK_DSTNC_ACMTL'].sum()

46946.0