# 데이터셋 마스터 분석

- 노선마스터 ([출처](https://data.seoul.go.kr/dataList/OA-21230/S/1/datasetView.do))
- 정류장마스터 ([출처](https://data.seoul.go.kr/dataList/OA-21231/S/1/datasetView.do))
- 노선정류장마스터 ([출처](https://data.seoul.go.kr/dataList/OA-21233/S/1/datasetView.do))

In [1]:
import numpy as np
import pandas as pd

# 1) 데이터 로딩

In [4]:
route_master = pd.read_csv('../../data/서울교통수단이동/master/서울시노선마스터.csv', encoding='cp949')
display(route_master.head())
print('shape:', route_master.shape)
print('유형:', route_master['노선_유형'].unique())

       노선_ID      노선_명칭 노선_유형   거리
0  241461015      김포16A    경기  0.0
1  241461005     김포16-1    경기  0.0
2  241461002       김포16    경기  0.0
3  241449011  양주15-1구파발    경기  0.0
4  241449007   양주15-1막차    경기  0.0

shape: (1274, 4)
유형: ['경기' '인천' '마을' '지선' '간선' '공항' '광역' '순환' '관광']

In [7]:
station_master = pd.read_csv('../../data/서울교통수단이동/master/서울시정류장마스터.csv', encoding='cp949')
display(station_master.head())
print('shape:', station_master.shape)

      정류장_ID     정류장_명칭 정류장_유형   정류장_번호          위도         경도 버스도착정보안내기_설치_여부
0  717104358  계수사거리(경유)  가상정류장      0.0  126.817473  37.452473           미설치
1  500000288      행사장입구   마을버스  25965.0  126.691556  37.321742           미설치
2  500000287      행사장입구   마을버스  25095.0  126.691728  37.321942           미설치
3  500000286      아남중전기   일반차로  25963.0  126.710485  37.319934           미설치
4  500000285         3Z   일반차로  25964.0  126.707130  37.320566           미설치

shape: (70855, 7)

In [10]:
route_station_master = pd.read_csv('../../data/서울교통수단이동/master/서울시노선정류장마스터.csv', encoding='cp949')
display(route_station_master.head())
print('shape:', route_station_master.shape)

       노선_ID     정류장_ID  링크_구간거리(m)  정류장_순서
0  241461015  232000857       193.0       3
1  241461015  232000856       203.0      18
2  241461015  232000855       123.0       2
3  241461015  232000854       177.0      19
4  241461015  232000853         0.0       1

shape: (118180, 4)

# 2) 분석

In [5]:
route_master.loc[route_master['노선_명칭'] == '143']

          노선_ID 노선_명칭 노선_유형    거리
1253  100100022   143    간선  62.2

In [17]:
route_143 = route_master.loc[route_master['노선_명칭'] == '143']
route_143_id = route_143['노선_ID'].values[0]

route_station_143 = route_station_master.loc[route_station_master['노선_ID'] == route_143_id].copy()
route_station_143.sort_values(by='정류장_순서', inplace=True)

route_station_143 = pd.merge(route_station_143, station_master, on='정류장_ID')
route_station_143

,노선_ID,정류장_ID,링크_구간거리(m),정류장_순서,정류장_명칭,정류장_유형,정류장_번호,위도,경도,버스도착정보안내기_설치_여부
0,100100022,107000071,0.0,1,정릉산장아파트,일반차로,8161.0,127.002805,37.616889,미설치
1,100100022,107000073,532.0,2,정릉4동주민센터.경국사,일반차로,8163.0,127.006248,37.613523,설치
2,100100022,107000518,210.0,3,북한산보국문역2번출구,일반차로,8408.0,127.007986,37.612294,설치
3,100100022,107000075,95.0,4,성북청수도서관.정릉4동성당,일반차로,8165.0,127.008419,37.611570,설치
4,100100022,107000077,371.0,5,정릉시장입구,일반차로,8167.0,127.009821,37.608465,설치
...,...,...,...,...,...,...,...,...,...,...
171,100100022,107000074,233.0,114,정릉4동주민센터.경국사,일반차로,8164.0,127.006451,37.613510,설치
172,100100022,107000072,461.0,111,정릉대우아파트,일반차로,8162.0,127.003860,37.616708,설치
173,100100022,107000072,548.0,115,정릉대우아파트,일반차로,8162.0,127.003860,37.616708,설치
174,100100022,107000246,342.0,112,대진여객차고지,일반차로,8344.0,127.000797,37.617689,미설치
175,100100022,107000246,342.0,116,대진여객차고지,일반차로,8344.0,127.000797,37.617689,미설치