# 데이터 정보

- 제목: 서울 교통수단 이동데이터
- 링크: https://www.bigdata-transportation.kr/frn/prdt/detail?prdtId=PRDTNUM_000000020000
- 테이블 목록

---

| 테이블명                         | 설명                        |     |
|------------------------------|---------------------------|-----|
| KSCC_DX_TRIP_CHAIN_SUM       | 일자별 목적통행별 대중교통 Trip-Chain | O   |
| KSCC_DX_PATTERN_STAT         | 일자별 사용자유형별 대중교통이용패턴       | O   |
| TPSS_ROUTE_SECTION_SPEED_H   | 일자별 시간대별 버스노선별 구간별 운행시간   | O   |
| TPSS_A18_ROUTE_SECTION       | 일자별 시간대별 버스노선별 구간별 승객수    | O   |
| TPSS_STA_ROUTE_INFO_H_PASNGR | 일자별 시간대별 버스노선별 정류장별 승객수   | O   |
| TPSS_STA_ROUTE_INFO_H_TURN   | 일자별 시간대별 버스노선별 정류장별 운행횟수  | O   |
| KSCC_DX_TRNSF_PATH_SUM       | 일자별 정류장/역사별 사용자유형별 환승승객수  | O   |
| KSCC_DX_RA_OD                | 일자별 시간대별 정류장/역사별 수단 OD    | O   |
| TPSS_EMD_INFO_H_PUBLIC       | 일자별 시간대별 행정동별 대중교통 승객수    | O   |
| TPSS_EMD_INFO_H_SUBWAY       | 일자별 시간대별 행정동별 지하철 승객수     | O   |
| TPSS_EMD_INFO_H_BUS          | 일자별 시간대별 행정동별 버스 승객수      | O   |
| TPSS_EMD_OD_H                | 일자별 시간대별 행정동별 목적 OD       | O   |
| TPSS_EMD_OD_PS               | 일자별 행정동별 수단 OD            | O   |
| TPSS_EMD_OD_TC               | 일자별 행정동별 목적 OD            | O   |
| ~~TPSS_BCYCL_OD_STATN~~      | ~~일자별 시간대별 대여소별 따릉이 OD~~  | X   |
| TBIS_MS_ROUTE                | 노선마스터                     | O   |
| TBIS_MS_STTN                 | 정류장마스터                    | O   |
| KSCC_DV_SUBWAY_STATION_GEOM  | 역사마스터                     | O   |
| TBIS_MS_ROUTE_NODE           | 노선 정류장 마스터                | O   |
| DISTRICT_EMD                 | 읍면동마스터                    | O   |
| ~~TB_OPR_STATION~~           | ~~따릉이대여소마스터~~             | X   |

---

**KSCC_DX_TRIP_CHAIN_SUM**
- 일자별 목적통행별 대중교통 Trip-Chain
- 서울시, 대중교통, 통행사슬, Trip-Chain
- 서울시 대중교통(버스, 지하철) 이용 승객의 통행사슬(Trip-Chain) 묶음 정보로써, 목적통행 O/D 및 이동수단 등을 확인할 수 있음. (단, 총 승객수 3명 이상인 이동경로 데이터만 송신)

**KSCC_DX_PATTERN_STAT**
- 서울시, 대중교통, 통행사슬, 이동패턴
- 서울시 1일 사용자유형별(일반, 어린이, 경로, 장애인 등) 대중교통 이용패턴(버스-지하철, 버스-버스-지하철 등)을 확인할 수 있음

#### TPSS_ROUTE_SECTION_SPEED_H
- 서울시, 대중교통, 버스, 노선, 구간, 운행시간
- 서울시 1일 1시간 단위로, 노선별 정류장-TO-정류장 구간별로 평균 운행시간을 확인할 수 있음

#### TPSS_A18_ROUTE_SECTION
- 서울시, 대중교통, 버스, 노선, 구간, 승객수
- 서울시 1일 1시간 단위로, 노선별 정류장-TO-정류장 구간별 총 승객수를 확인할 수 있음

#### TPSS_STA_ROUTE_INFO_H_PASNGR
- 서울시, 대중교통, 버스, 노선, 정류장, 승객수
- 서울시 1일 1시간 단위로, 노선별 정류장별로 총 승차 승객수를 확인할 수 있음

#### TPSS_STA_ROUTE_INFO_H_TURN
- 서울시, 대중교통, 버스, 노선, 정류장, 운행횟수
- 서울시 1일 1시간 단위로, 노선별 정류장별로 총 버스 운행횟수를 확인할 수 있음

#### KSCC_DX_TRNSF_PATH_SUM
- 서울시, 대중교통, 버스, 환승, 승객수
- 서울시 1일 정류장별 사용자유형별(일반, 어린이, 경로, 장애인 등)로 환승한 승객수 및 환승시간을 확인할 수 있음

#### KSCC_DX_RA_OD
- 서울시, 대중교통, 버스, 지하철, 수단OD
- 서울시 1일 1시간 단위로, 정류장 혹은 역사별 수단 OD를 확인할 수 있음

#### TPSS_EMD_INFO_H_PUBLIC
- 서울시, 행정동, 대중교통, 승객수
- 서울시 1일 1시간 단위로, 행정동별 대중교통 총 승차 승객수를 확인할 수 있음

#### TPSS_EMD_INFO_H_SUBWAY
- 서울시, 행정동, 대중교통, 지하철, 승객수
- 서울시 1일 1시간 단위로, 행정동별 지하철 총 승차 승객수를 확인할 수 있음

#### TPSS_EMD_INFO_H_BUS
- 서울시, 행정동, 대중교통, 버스, 승객수
- 서울시 1일 1시간 단위로, 행정동별 버스 총 승차 승객수를 확인할 수 있음

#### TPSS_EMD_OD_H
- 서울시, 행정동, 대중교통, OD, 승객수
- 서울시 1일 1시간 단위로, 행정동 단위의 대중교통 O/D 승객수를 확인할 수 있음

#### TPSS_EMD_OD_PS
- 서울시, 행정동, 대중교통, 수단OD, 승객수
- 서울시 1일 단위로, 행정동 단위의 대중교통 수단O/D(버스, 지하철) 승객수를 확인할 수 있음

#### TPSS_EMD_OD_TC
- 서울시, 행정동, 대중교통, 목적OD, 승객수
- 서울시 1일 단위로, 행정동 단위의 대중교통 목적O/D 승객수를 확인할 수 있음

#### TPSS_BCYCL_OD_STATN_HM
- 서울시, 대중교통, 따릉이, OD, 승객수
- 서울시 1일 1시간 단위로, 따릉이 대여소별 O/D 승객수를 확인할 수 있음

#### TBIS_MS_ROUTE
- 노선마스터 정보
- 노선_ID, 노선_명칭, 노선_유형, 거리

#### TBIS_MS_STTN
- 정류장마스터 정보
- 정류장_ID, 정류장_명칭, 정류장_유형, 정류장_번호, 좌표_X, 좌표_Y, 버스도착정보안내기_설치_여부

#### KSCC_DV_SUBWAY_STATION_GEOM
- 역사마스터 정보
- 역사_ID, 역사명, 호선, 좌표_X, 좌표_Y

#### TBIS_MS_ROUTE_NODE
- 노선-정류장마스터 정보
- 노선_ID, 정류장_ID, 링크_구간거리(m), 정류장_순서

#### DISTRICT_EMD
- 읍면동 마스터
- 행정동_ID, 행정동_명칭, 자치구_명칭, 시도_명칭

- OUT_STN_NUM(역사ID)
    - KSCC_DX_TRIP_CHAN_SUM -> 행정동, 자치구
    - KSCC_DX_TRNSF_PATH_SUM -> 하차정류장/역사ID, 승차정류장/역사ID, 시간대, 환승수합, 환승시간평균
    - KSCC_DV_SUBWAY_STATION_GEOM -> 역사ID, 역사명, 호선, 좌표(X,Y)

In [1]:
import numpy as np
import pandas as pd

In [36]:
import numpy as np
import pandas as pd

'''
| KSCC_DX_TRIP_CHAIN_SUM       | 일자별 목적통행별 대중교통 Trip-Chain |
| KSCC_DX_PATTERN_STAT         | 일자별 사용자유형별 대중교통이용패턴       |
| TPSS_ROUTE_SECTION_SPEED_H   | 일자별 시간대별 버스노선별 구간별 운행시간   |
| TPSS_A18_ROUTE_SECTION       | 일자별 시간대별 버스노선별 구간별 승객수    |
| TPSS_STA_ROUTE_INFO_H_PASNGR | 일자별 시간대별 버스노선별 정류장별 승객수   |
| TPSS_STA_ROUTE_INFO_H_TURN   | 일자별 시간대별 버스노선별 정류장별 운행횟수  |
| KSCC_DX_TRNSF_PATH_SUM       | 일자별 정류장/역사별 사용자유형별 환승승객수  |
| KSCC_DX_RA_OD                | 일자별 시간대별 정류장/역사별 수단 OD    |
| TPSS_EMD_INFO_H_PUBLIC       | 일자별 시간대별 행정동별 대중교통 승객수    |
| TPSS_EMD_INFO_H_SUBWAY       | 일자별 시간대별 행정동별 지하철 승객수     |
| TPSS_EMD_INFO_H_BUS          | 일자별 시간대별 행정동별 버스 승객수      |
| TPSS_EMD_OD_H                | 일자별 시간대별 행정동별 목적 OD       |
| TPSS_EMD_OD_PS               | 일자별 행정동별 수단 OD            |
| TPSS_EMD_OD_TC               | 일자별 행정동별 목적 OD            |
| TPSS_BCYCL_OD_STATN          | 일자별 시간대별 대여소별 따릉이 OD      |
| TBIS_MS_ROUTE                | 노선마스터                     |
| TBIS_MS_STTN                 | 정류장마스터                    |
| KSCC_DV_SUBWAY_STATION_GEOM  | 역사마스터                     |
| TBIS_MS_ROUTE_NODE           | 노선 정류장 마스터                |
| DISTRICT_EMD                 | 읍면동마스터                    |
| TB_OPR_STATION               | 따릉이대여소마스터                 |
'''

class Data:

    def __init__(self, year, month, day):
        self.subway_master = self.read_csv(f'{year}{month:02d}{day:02d}/KSCC_DV_SUBWAY_STATION_GEOM.csv')
        self.trip_chain = self.read_csv(f'{year}{month:02d}{day:02d}/KSCC_DX_TRIP_CHAIN_SUM.csv')
        self.district = None
        self.df = None

    def merge_district(self, district):
        self.district = district
        pd.merge(self.trip_chain, self.district)

    def zip_by(self, column):



    @staticmethod
    def read_csv(path, nrows=None, sep=',', encoding='utf-8'):
        return pd.read_csv(path, nrows=nrows, sep=sep, encoding=encoding)


def read_csv(path, nrows=None, sep=',', encoding='utf-8'):
    return pd.read_csv(path, nrows=nrows, sep=sep, encoding=encoding)

# on_bad_lines='skip'

In [105]:
district_emd = read_csv('DISTRICT_EMD.csv')
district_emd = district_emd.loc[district_emd['SD_NM'] == '서울']
district_emd.reset_index(drop=True, inplace=True)
district_emd

      EMD_ID EMD_NM SGG_NM SD_NM
0    1108058   돈암1동    성북구    서울
1    1108065   정릉4동    성북구    서울
2    1108072   월곡2동    성북구    서울
3    1108081    성북동    성북구    서울
4    1109060    번1동    강북구    서울
..       ...    ...    ...   ...
419  1123058   삼성1동    강남구    서울
420  1123060   대치1동    강남구    서울
421  1123063   대치4동    강남구    서울
422  1123064   역삼1동    강남구    서울
423  1123066   도곡1동    강남구    서울

[424 rows x 4 columns]

In [27]:
data_list = [Data(2023, 2, day) for day in range(1, 2)]

In [28]:
data_list[0].trip_chain

,STDR_DE,START_PUB_STA_ID,END_PUB_STA_ID,START_EMD_ID,END_EMD_ID,TOT_CNT,ROUTE_ID_1,RIDE_PUB_STA_ID_1,ALGH_PUB_STA_ID_1,ROUTE_ID_2,...,ALGH_PUB_STA_ID_2,ROUTE_ID_3,RIDE_PUB_STA_ID_3,ALGH_PUB_STA_ID_3,ROUTE_ID_4,RIDE_PUB_STA_ID_4,ALGH_PUB_STA_ID_4,ROUTE_ID_5,RIDE_PUB_STA_ID_5,ALGH_PUB_STA_ID_5
0,20230127,213000492,213000197.0,3106068.0,3106054.0,14,100100312.0,213000492,213000197,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
1,20230127,100000039,112000041.0,1101055.0,1113066.0,6,100100360.0,100000039,112000041,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
2,20230127,113000019,218000636.0,1114074.0,3110169.0,3,100100447.0,113000019,111000224,100100358.0,...,218000636,NaN,X,X,NaN,X,X,NaN,X,X
3,20230127,2553,1804.0,1125054.0,3105252.0,5,NaN,2553,1804,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
4,20230127,118000146,114000208.0,1119073.0,1115058.0,3,100100289.0,118000146,114000208,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473284,20230127,123000622,123000639.0,1124082.0,1124081.0,12,100100496.0,123000622,123000639,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
473285,20230127,1809,2612.0,2303069.0,1112051.0,4,NaN,1809,2612,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
473286,20230127,222,116000134.0,1122052.0,1117061.0,5,NaN,0222,0234,100100085.0,...,116000134,NaN,X,X,NaN,X,X,NaN,X,X
473287,20230127,113000099,112000016.0,1114072.0,1113075.0,6,100100363.0,113000099,112000016,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X
473288,20230127,107000010,107000078.0,1108082.0,1108065.0,29,100100034.0,107000010,107000078,NaN,...,X,NaN,X,X,NaN,X,X,NaN,X,X

In [29]:
data_list[0].trip_chain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473289 entries, 0 to 473288
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   STDR_DE            473289 non-null  int64
 1   START_PUB_STA_ID   473289 non-null  int64
 2   END_PUB_STA_ID     461035 non-null  float64
 3   START_EMD_ID       470210 non-null  float64
 4   END_EMD_ID         458447 non-null  float64
 5   TOT_CNT            473289 non-null  int64
 6   ROUTE_ID_1         257808 non-null  float64
 7   RIDE_PUB_STA_ID_1  473289 non-null  object
 8   ALGH_PUB_STA_ID_1  473289 non-null  object
 9   ROUTE_ID_2         35516 non-null   float64
 10  RIDE_PUB_STA_ID_2  473289 non-null  object
 11  ALGH_PUB_STA_ID_2  473289 non-null  object
 12  ROUTE_ID_3         1361 non-null    float64
 13  RIDE_PUB_STA_ID_3  473289 non-null  object
 14  ALGH_PUB_STA_ID_3  473289 non-null  object
 15  ROUTE_ID_4         13 non-null      float64
 16  RIDE_PUB_STA_ID_4  473289 non-null  object
 17  ALGH_PUB_STA_ID_4  473289 non-null  object
 18  ROUTE_ID_5         0 non-null       float64
 19  RIDE_PUB_STA_ID_5  473289 non-null  object
 20  ALGH_PUB_STA_ID_5  473289 non-null  object
dtypes: float64(8), int64(3), object(10)
memory usage: 75.8+ MB

In [121]:
# 'STDR_DE', 'START_PUB_STA_ID', 'END_PUB_STA_ID', 'START_EMD_ID', 'END_EMD_ID'
def summarize_trip_chains(dfs):

    def transform(df):
        df1 = df.trip_chain.loc[:, ['START_PUB_STA_ID', 'START_EMD_ID']]
        df1 = df1.loc[df1['START_PUB_STA_ID'] < 10000]
        df1.columns = ['역사ID', '행정동ID']

        df2 = df.trip_chain.loc[:, ['END_PUB_STA_ID', 'END_EMD_ID']]
        df2 = df2.loc[df2['END_PUB_STA_ID'] < 10000]
        df2.columns = ['역사ID', '행정동ID']

        result = pd.concat([df1, df2], axis=0)
        result = result.drop_duplicates(['역사ID'])
        result = result.dropna()
        result = result.astype('int')

        return result

    merged = None
    for df in dfs:
        if merged is None:
            merged = transform(df)
        else:
            merged = pd.merge(merged, transform(df), how='left')

    return merged

df = summarize_trip_chains(data_list)
df

        역사ID    행정동ID
3       2553  1125054
5        417  1108066
12       313  1112051
18      3134  2304062
20      1026  1123080
...      ...      ...
351576  4602  3103055
361091  1213  3138033
7204    4514  3119153
19917   4502  3119252
448050  3227  2305065

[721 rows x 2 columns]

In [122]:
subway = data_list[0].subway_master
subway.columns = ['역사ID', '지하철역이름', '호선', '경도', '위도']

district = district_emd.copy()
district.columns = ['행정동ID', '행정동', '자치구', '자치시']

merged = pd.merge(df, subway, on='역사ID')
merged = pd.merge(merged, district, on='행정동ID')
merged

     역사ID    행정동ID 지하철역이름     호선          경도         위도   행정동  자치구 자치시
0    2553  1125054     고덕    5호선  127.154151  37.555004  명일2동  강동구  서울
1     417  1108066     길음    4호선  127.025053  37.603407  길음1동  성북구  서울
2     313  1112051     녹번    3호선  126.935756  37.600927   녹번동  은평구  서울
3    2612  1112051     역촌    6호선  126.922744  37.606021   녹번동  은평구  서울
4    1026  1123080     구룡    분당선  127.058856  37.486839  개포2동  강남구  서울
..    ...      ...    ...    ...         ...        ...   ...  ...  ..
385  1267  1112068     수색  경의중앙선  126.895611  37.580842   수색동  은평구  서울
386  1009  1103069    서빙고    경원선  126.988537  37.519594  서빙고동  용산구  서울
387   248  1115070   양천구청    2호선  126.865819  37.512398  신정7동  양천구  서울
388  4710  1108062     정릉  우이신설선  127.013396  37.603133  정릉1동  성북구  서울
389  4408  1121069     신림    신림선  126.929616  37.484927   신림동  관악구  서울

[390 rows x 9 columns]

---

# 2. 개별 테이블

## a. 노선마스터 - TBIS_MS_ROUTE.csv

In [8]:
route = pd.read_csv('../../data/서울교통수단이동/202301/TR202100010001 (0)/TBIS_MS_ROUTE.csv')
display(route.head())
display(route.shape)

    ROUTE_ID ROUTE_NM ROUTE_TY  DSTNC
0  241002600   9335고양       경기    0.0
1  241004320   8805고양       경기    0.0
2  241005920   5300고양       경기    0.0
3  100100507     6009       공항  187.6
4  241006340   8851고양       경기    0.0

(1200, 4)

In [7]:
print('ROUTE_TY:', route['ROUTE_TY'].unique())

ROUTE_TY: ['경기' '공항' '마을' '지선' '간선' '관광' '광역' '순환']

In [16]:
route.loc[route['ROUTE_TY'] == '순환']

      ROUTE_ID      ROUTE_NM ROUTE_TY  DSTNC
422  100100001            01       순환   16.0
832  100000020  청와대A01(자율주행)       순환    2.6

## a. 정류장마스터 - TBIS_MS_STTN.csv

In [20]:
station = pd.read_csv('../../data/서울교통수단이동/202209/TR202100010001_00/TBIS_MS_STTN.csv', on_bad_lines='warn')
station

b'Skipping line 14424: expected 7 fields, saw 8\nSkipping line 31842: expected 7 fields, saw 8\n'

,STTN_ID,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
0,164000621,달빛축제공원,일반차로,38621.0,126.630347,37.400547,미설치
1,164000623,e편한세상후문,일반차로,32063.0,126.618124,37.408392,미설치
2,164000624,재능대송도캠퍼스,일반차로,38622.0,126.660781,37.367194,미설치
3,164000625,재능대송도캠퍼스,일반차로,38623.0,126.660566,37.367038,미설치
4,164000626,e편한세상 정문,일반차로,38624.0,126.616301,37.410865,미설치
...,...,...,...,...,...,...,...
70034,212000442,성곡어린이공원입구,마을버스,13195.0,126.817185,37.518591,미설치
70035,212000443,여월휴먼시아1단지,마을버스,13167.0,126.800033,37.514662,미설치
70036,212000444,까치울중학교,마을버스,13345.0,126.801448,37.515999,미설치
70037,212000445,라이프동주아파트,마을버스,13354.0,126.787635,37.523817,미설치
70038,236001076,포천행복주택.용정산업단지입구,마을버스,40541.0,127.201456,37.882622,미설치

In [ ]:
station

## a. 노선정류장노드마스터 - TBIS_MS_ROUTE_NODE.csv

In [18]:
station_node = pd.read_csv('../../data/서울교통수단이동/202301/TR202100010001_00/TBIS_MS_ROUTE_NODE.csv')
station_node

        ROUTE_ID    STTN_ID  LINK_DSTNC_ACMTL  STTN_SN
0      241002430  163000514              2195       30
1      241002430  165000290              2498       31
2      241002430  165000586               656       32
3      241002430  165000385              1643       33
4      241002430  165000391              1894       34
...          ...        ...               ...      ...
84565  100100033  116000004              1035       71
84566  100100033  116000002               625       72
84567  100100033  118000001               551       73
84568  100100033  118000003               722       74
84569  100100033  118000005               426       75

[84570 rows x 4 columns]

In [23]:
bus_master = station_node
bus_master = pd.merge(bus_master, route, on='ROUTE_ID')
bus_master = pd.merge(bus_master, station, on='STTN_ID')
bus_master

,ROUTE_ID,STTN_ID,LINK_DSTNC_ACMTL,STTN_SN,ROUTE_NM,ROUTE_TY,DSTNC,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
0,241002570,165000808,0,1,8830고양,경기,0.00,인천터미널,중앙차로,39808.0,126.701027,37.439839,미설치
1,241002600,165000808,0,1,9335고양,경기,0.00,인천터미널,중앙차로,39808.0,126.701027,37.439839,미설치
2,241002400,165000808,0,1,8806고양,경기,0.00,인천터미널,중앙차로,39808.0,126.701027,37.439839,미설치
3,241002570,277103046,1403,2,8830고양,경기,0.00,남동IC진입(경유),가상정류장,0.0,126.711872,37.430610,미설치
4,241002600,277103046,1403,2,9335고양,경기,0.00,남동IC진입(경유),가상정류장,0.0,126.711872,37.430610,미설치
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81777,100100159,110000685,123,8,1144,지선,19.89,그린아파트101동앞,일반차로,11432.0,127.061918,37.644305,설치
81778,100100159,110000686,273,55,1144,지선,19.89,그린아파트101동앞,일반차로,11460.0,127.061642,37.644343,설치
81779,100100159,110000684,141,56,1144,지선,19.89,북부여성발전센터앞,일반차로,11461.0,127.062174,37.643175,설치
81780,100100159,110000269,97,57,1144,지선,19.89,서울아이티고등학교,일반차로,11370.0,127.062523,37.642374,설치
81781,100100159,110000267,396,58,1144,지선,19.89,건영옴니백화점,일반차로,11368.0,127.064042,37.639024,설치

In [24]:
bus_600 = bus_master.loc[bus_master['ROUTE_NM'] == '600']
bus_600

,ROUTE_ID,STTN_ID,LINK_DSTNC_ACMTL,STTN_SN,ROUTE_NM,ROUTE_TY,DSTNC,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
10493,100100085,118000076,1394,24,600,간선,38.0,전경련회관,일반차로,19161.0,126.918884,37.521891,미설치
10524,100100085,118000199,549,26,600,간선,38.0,파크원타워.LG트윈타워,일반차로,19284.0,126.927025,37.526956,미설치
10532,100100085,113000001,2429,27,600,간선,38.0,마포역서울가든호텔,중앙차로,14001.0,126.947962,37.540900,설치
10547,100100085,113000003,403,28,600,간선,38.0,공덕역롯데시티호텔,중앙차로,14003.0,126.950905,37.543605,설치
10560,100100085,113000005,358,29,600,간선,38.0,아현동주민센터,중앙차로,14005.0,126.952907,37.546365,설치
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47378,100100085,116000287,215,60,600,간선,38.0,거성푸르뫼아파트,일반차로,17306.0,126.843679,37.500606,설치
47380,100100085,116000611,163,61,600,간선,38.0,동부골든아파트후문,일반차로,17314.0,126.842048,37.499917,미설치
47382,100100085,116000445,187,62,600,간선,38.0,동부골든아파트,일반차로,17304.0,126.840437,37.498821,설치
47384,100100085,116000447,490,63,600,간선,38.0,오류동삼거리,일반차로,17308.0,126.840366,37.495785,설치
47385,100100085,116000194,261,69,600,간선,38.0,온수동종점,일반차로,17289.0,126.821273,37.491642,미설치

## a. 일자별 시간대별 버스노선별 정류장별 운행횟수 - TPSS_STA_ROUTE_INFO_H_TURN.csv

In [4]:
turn = pd.read_csv('../../data/서울교통수단이동/202209/TR202100010001_00/TPSS_STA_ROUTE_INFO_H_TURN.csv')
display(turn.head())
display(turn.shape)

,STDR_DE,ROUTE_ID,STTN_ID,CNT,CNT_00H,CNT_01H,CNT_02H,CNT_03H,CNT_04H,CNT_05H,...,CNT_15H,CNT_16H,CNT_17H,CNT_18H,CNT_19H,CNT_20H,CNT_21H,CNT_22H,CNT_23H,STTN_SN
0,20220922,111000014,111000925.0,109.0,NaN,NaN,NaN,NaN,5.0,6.0,...,6.0,5.0,5.0,5.0,5.0,5.0,6.0,5.0,3.0,6.0
1,20220922,111000012,218000625.0,73.0,4.0,NaN,NaN,NaN,2.0,2.0,...,4.0,4.0,3.0,3.0,3.0,5.0,4.0,5.0,4.0,124.0
2,20220922,111000012,218000653.0,74.0,4.0,1.0,NaN,NaN,1.0,2.0,...,4.0,4.0,5.0,2.0,3.0,5.0,5.0,4.0,5.0,143.0
3,20220922,111000012,111000013.0,74.0,5.0,3.0,NaN,NaN,NaN,2.0,...,4.0,4.0,4.0,3.0,3.0,4.0,5.0,5.0,4.0,163.0
4,20220922,111000014,111000213.0,109.0,NaN,NaN,NaN,NaN,4.0,5.0,...,5.0,6.0,5.0,5.0,5.0,5.0,6.0,5.0,4.0,12.0

(83062, 29)

In [21]:
bus_600_id = 100100085

df = turn.loc[turn['ROUTE_ID'] == bus_600_id].copy()
df.fillna(0.0, inplace=True)
df['sum'] = df.iloc[:, 4:-1].sum(axis=1)
df

,STDR_DE,ROUTE_ID,STTN_ID,CNT,CNT_00H,CNT_01H,CNT_02H,CNT_03H,CNT_04H,CNT_05H,...,CNT_16H,CNT_17H,CNT_18H,CNT_19H,CNT_20H,CNT_21H,CNT_22H,CNT_23H,STTN_SN,sum
8855,20220922,100100085,116000121.0,162.0,0.0,0.0,0.0,0.0,8.0,8.0,...,8.0,7.0,8.0,8.0,9.0,8.0,9.0,7.0,14.0,162.0
8856,20220922,100100085,116000137.0,162.0,0.0,0.0,0.0,0.0,7.0,9.0,...,7.0,8.0,8.0,8.0,9.0,8.0,9.0,7.0,16.0,162.0
8857,20220922,100100085,100000380.0,162.0,5.0,0.0,0.0,0.0,0.0,10.0,...,9.0,7.0,6.0,10.0,8.0,8.0,10.0,8.0,35.0,162.0
8859,20220922,100100085,116000125.0,162.0,0.0,0.0,0.0,0.0,8.0,9.0,...,8.0,7.0,7.0,9.0,8.0,9.0,9.0,6.0,12.0,162.0
8860,20220922,100100085,113000007.0,162.0,4.0,0.0,0.0,0.0,1.0,10.0,...,8.0,7.0,7.0,9.0,8.0,9.0,9.0,8.0,30.0,162.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78732,20220922,100100085,116000122.0,162.0,9.0,3.0,0.0,0.0,0.0,2.0,...,9.0,9.0,6.0,7.0,10.0,8.0,8.0,10.0,55.0,162.0
78733,20220922,100100085,116000124.0,162.0,9.0,3.0,0.0,0.0,0.0,2.0,...,9.0,9.0,5.0,8.0,10.0,8.0,8.0,10.0,56.0,162.0
78734,20220922,100100085,116000445.0,162.0,9.0,4.0,0.0,0.0,0.0,1.0,...,9.0,8.0,7.0,7.0,10.0,8.0,8.0,10.0,62.0,162.0
78735,20220922,100100085,116000448.0,162.0,0.0,0.0,0.0,0.0,9.0,9.0,...,8.0,7.0,7.0,9.0,8.0,9.0,9.0,5.0,6.0,162.0
78736,20220922,100100085,118000076.0,162.0,3.0,0.0,0.0,0.0,4.0,9.0,...,7.0,8.0,7.0,8.0,8.0,9.0,9.0,7.0,24.0,162.0