In [5]:
import pandas as pd

In [6]:
station = pd.read_csv('../../data/서울교통수단이동/master/bus_station_master.csv')
station

,STTN_ID,STTN_NM,STTN_TY,STTN_NO,CRDNT_X,CRDNT_Y,BIT_INSTL_AT
0,104000305,광진구보훈회관,일반차로,5298.0,127.107723,37.547735,미설치
1,123000598,한강공원잠실대교남단,일반차로,24509.0,127.094707,37.520004,미설치
2,123000308,제일은행건너편,일반차로,24399.0,127.118580,37.496389,미설치
3,121900285,농협하나로마트,마을버스,22341.0,127.044354,37.463921,미설치
4,213900244,철산우성아파트,마을버스,38076.0,126.867410,37.489826,미설치
...,...,...,...,...,...,...,...
70441,234000316,고산1리.허산리,일반차로,38209.0,127.242114,37.381224,미설치
70442,234000315,오포도서관.오포농협,일반차로,38178.0,127.231914,37.369356,미설치
70443,234000314,오포읍사무소,일반차로,38533.0,127.231729,37.366752,미설치
70444,234000313,풍산목재,일반차로,38163.0,127.226235,37.360592,미설치
70445,234000260,파라다이스아파트앞,일반차로,38908.0,127.254916,37.418612,미설치

In [7]:
station_node = pd.read_csv('../../data/서울교통수단이동/master/bus_station_node_master.csv')
station_node

        ROUTE_ID    STTN_ID  LINK_DSTNC_ACMTL  STTN_SN
0      100100412  274109991               0.0       64
1      100100412  274109998               0.0        3
2      100100412  274110129               0.0        4
3      100100412  161000376               0.0        5
4      100100509  161000329            6897.0       26
...          ...        ...               ...      ...
85343  100100076  117000080             858.0       83
85344  100100076  117000082             219.0       84
85345  100100068  122000246               0.0        1
85346  100100068  122000249             373.0        2
85347  100100068  122000250             210.0        3

[85348 rows x 4 columns]

In [8]:
len(station['STTN_ID'].unique())

70446

In [9]:
len(station_node['STTN_ID'].unique())

24487

In [13]:
speed = pd.read_csv('../../data/서울교통수단이동/202301/TR202100010001_00/TPSS_ROUTE_SECTION_SPEED_H.csv')
speed

,STDR_DE,ROUTE_ID,FROM_STTN_ID,TO_STTN_ID,TRIP_TIME,TRIP_TIME_00H,TRIP_TIME_01H,TRIP_TIME_02H,TRIP_TIME_03H,TRIP_TIME_04H,...,TRIP_TIME_16H,TRIP_TIME_17H,TRIP_TIME_18H,TRIP_TIME_19H,TRIP_TIME_20H,TRIP_TIME_21H,TRIP_TIME_22H,TRIP_TIME_23H,FROM_STTN_SN,TO_STTN_SN
0,20230111,222000078,222000325,222000749,74,35,0,0,0,0,...,27,135,97,129,69,60,32,43,79,80
1,20230111,222000030,222000150,222001599,87,0,0,0,0,0,...,0,104,131,0,102,76,0,0,15,16
2,20230111,213000006,224000383,224000382,69,0,0,0,0,0,...,68,75,74,76,59,71,65,55,51,52
3,20230111,213000011,213000227,213000137,131,0,0,0,0,0,...,111,116,117,99,134,91,120,68,3,4
4,20230111,216000046,216000227,216000290,167,209,149,0,0,0,...,124,185,199,188,192,218,189,98,59,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80003,20230111,234000040,104000299,104000007,51,0,0,0,0,0,...,0,47,0,0,94,0,39,0,61,62
80004,20230111,234000003,222000317,222000141,52,0,0,0,0,57,...,65,48,48,52,0,47,48,50,39,40
80005,20230111,234000042,228000336,228000335,28,29,27,0,0,0,...,27,33,32,31,28,31,25,28,114,115
80006,20230111,100100247,122000240,122000239,95,0,0,0,0,0,...,91,101,99,111,113,105,102,68,6,7
80007,20230111,100100216,104000141,104000157,135,72,0,0,0,0,...,107,158,215,110,123,107,115,115,43,44

In [15]:
route_node = pd.read_csv('../../data/서울교통수단이동/202301/TR202100010001_00/TBIS_MS_ROUTE_NODE.csv')
route_node

        ROUTE_ID    STTN_ID  LINK_DSTNC_ACMTL  STTN_SN
0      241002430  163000514              2195       30
1      241002430  165000290              2498       31
2      241002430  165000586               656       32
3      241002430  165000385              1643       33
4      241002430  165000391              1894       34
...          ...        ...               ...      ...
84565  100100033  116000004              1035       71
84566  100100033  116000002               625       72
84567  100100033  118000001               551       73
84568  100100033  118000003               722       74
84569  100100033  118000005               426       75

[84570 rows x 4 columns]

In [16]:
od_time = pd.read_csv('../../data/기타/서울시 노선별 정류장 구간별 평균 운행시간 정보.csv', encoding='cp949')
od_time

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간,운행시간_00시,운행시간_01시,운행시간_02시,운행시간_03시,운행시간_04시,...,운행시간_16시,운행시간_17시,운행시간_18시,운행시간_19시,운행시간_20시,운행시간_21시,운행시간_22시,운행시간_23시,출발_정류장_순서,도착_정류장_순서
0,20230314,241461015,115000320,115000321,378.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,11
1,20230314,241461015,232000857,232000852,38.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,4
2,20230314,241461015,232000852,232000294,63.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5
3,20230314,241461015,232000841,232000842,35.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,7
4,20230314,241461015,115000321,232000433,41.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2138439,20230216,100100001,100000104,100000413,349.0,0.0,0.0,0.0,0.0,0.0,...,268.0,299.0,240.0,193.0,236.0,198.0,190.0,215.0,21,22
2138440,20230216,100000020,100000417,100000418,117.0,0.0,0.0,0.0,0.0,0.0,...,154.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5
2138441,20230216,100000020,100000416,100000417,177.0,0.0,0.0,0.0,0.0,0.0,...,218.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,4
2138442,20230216,100000020,100000415,100000416,132.0,0.0,0.0,0.0,0.0,0.0,...,126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,3
2138443,20230216,100000020,100000419,100000415,227.0,0.0,0.0,0.0,0.0,0.0,...,73.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2

In [17]:
od_time.tail()

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간,운행시간_00시,운행시간_01시,운행시간_02시,운행시간_03시,운행시간_04시,...,운행시간_16시,운행시간_17시,운행시간_18시,운행시간_19시,운행시간_20시,운행시간_21시,운행시간_22시,운행시간_23시,출발_정류장_순서,도착_정류장_순서
2138439,20230216,100100001,100000104,100000413,349.0,0.0,0.0,0.0,0.0,0.0,...,268.0,299.0,240.0,193.0,236.0,198.0,190.0,215.0,21,22
2138440,20230216,100000020,100000417,100000418,117.0,0.0,0.0,0.0,0.0,0.0,...,154.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5
2138441,20230216,100000020,100000416,100000417,177.0,0.0,0.0,0.0,0.0,0.0,...,218.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,4
2138442,20230216,100000020,100000415,100000416,132.0,0.0,0.0,0.0,0.0,0.0,...,126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,3
2138443,20230216,100000020,100000419,100000415,227.0,0.0,0.0,0.0,0.0,0.0,...,73.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2

In [18]:
len(od_time['노선_ID'].unique()), len(od_time['출발_정류장_ID'].unique())

(1205, 23199)

In [ ]:
od_time