In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

# 1. 시군구 좌표 데이터

In [23]:
geo_sgg = gpd.read_file('data/LARD_ADM_SECT_SGG_11.shp', encoding='cp949')
geo_sgg.head()

,ADM_SECT_C,SGG_NM,SGG_OID,COL_ADM_SE,GID,geometry
0,11740,강동구,NaN,11740,125,"POLYGON ((971595.075 1952405.815, 971596.036 1..."
1,11710,송파구,NaN,11710,126,"POLYGON ((965821.957 1949386.153, 965816.737 1..."
2,11680,강남구,NaN,11680,127,"POLYGON ((959331.597 1948602.068, 959342.021 1..."
3,11650,서초구,NaN,11650,128,"POLYGON ((956982.039 1947144.037, 956982.518 1..."
4,11620,관악구,NaN,11620,129,"POLYGON ((949438.997 1944127.713, 949456.647 1..."

# 2. 읍면동 좌표 데이터

In [24]:
geo_emd = gpd.read_file('data/서울_행정동.shp')
geo_emd.head()

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,temp,sggnm,geometry
0,0,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
1,1,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구 삼청동,종로구,"MULTIPOLYGON (((126.98269 37.59507, 126.98337 ..."
2,2,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,종로구 부암동,종로구,"MULTIPOLYGON (((126.97585 37.59656, 126.97359 ..."
3,3,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,종로구 평창동,종로구,"MULTIPOLYGON (((126.97507 37.63139, 126.97649 ..."
4,4,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,종로구 무악동,종로구,"MULTIPOLYGON (((126.96067 37.58080, 126.96281 ..."

# 3. sgg-geo-master.shp 생성

In [40]:
sgg = geo_sgg.loc[:, ['ADM_SECT_C', 'SGG_NM', 'geometry']]
sgg.rename(columns={'ADM_SECT_C':'sgg_cd', 'SGG_NM':'sgg'}, inplace=True)
sgg.head()

  sgg_cd  sgg                                           geometry
0  11740  강동구  POLYGON ((971595.075 1952405.815, 971596.036 1...
1  11710  송파구  POLYGON ((965821.957 1949386.153, 965816.737 1...
2  11680  강남구  POLYGON ((959331.597 1948602.068, 959342.021 1...
3  11650  서초구  POLYGON ((956982.039 1947144.037, 956982.518 1...
4  11620  관악구  POLYGON ((949438.997 1944127.713, 949456.647 1...

In [41]:
sgg.to_file('master/sgg-geo-master.shp', index=False)

# 4. emd-geo-master.shp 생성

In [43]:
emd = geo_emd.copy()
emd.rename(columns={'adm_cd':'emd_cd', 'sgg':'sgg_cd', 'sggnm':'sgg'}, inplace=True)
emd['emd'] = emd['adm_nm'].str.split().str[2]
emd = emd.loc[:, ['sgg_cd', 'sgg', 'emd_cd', 'emd', 'geometry']]
emd.head()

  sgg_cd  sgg   emd_cd  emd                                           geometry
0  11110  종로구  1101053  사직동  MULTIPOLYGON (((126.97689 37.57565, 126.97703 ...
1  11110  종로구  1101054  삼청동  MULTIPOLYGON (((126.98269 37.59507, 126.98337 ...
2  11110  종로구  1101055  부암동  MULTIPOLYGON (((126.97585 37.59656, 126.97359 ...
3  11110  종로구  1101056  평창동  MULTIPOLYGON (((126.97507 37.63139, 126.97649 ...
4  11110  종로구  1101057  무악동  MULTIPOLYGON (((126.96067 37.58080, 126.96281 ...

In [44]:
emd.to_file('master/emd-geo-master.shp', index=False)